@font-face {
    font-family: "Recoleta Black";
    src: url("/fonts/recoleta/recoleta-black.woff2") format("woff2"),
         url("/fonts/recoleta/recoleta-black.woff") format("woff");
}

@font-face {
    font-family: "Apercu";
    src: url("/fonts/apercu/apercu-webfont.woff2") format("woff2"),
         url("/fonts/apercu/apercu-webfont.woff") format("woff");
}

:root {
    --red-color: #F10B0E;
}

html {
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit; 
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFA8BC;
    height: 100vh;
}

body, .article {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: auto;
}

h1, .h1 {
    font-size: 4.25em;
    line-height: 1.05882353em;
    margin-top: 0.35294118em;
    margin-bottom: 0.70588236em;
}

h2, .h2 {
    font-size: 2.625em;
    line-height: 1.14285714em;
    margin-top: 0.57142857em;
    margin-bottom: 0.57142857em;
}

h3, .h3 {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

@media screen and (min-width: 400px) {
    h3, .h3 {
        font-size: 1.625em;
        line-height: 1.84615385em;
        margin-top: 0.92307692em;
        margin-bottom: 0em;
    }
}

h4, .h4 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

h5, .h5 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
    text-transform: uppercase;
}

p {
    margin-top: 0em;
    margin-bottom: 1.5em;
}

p > a {
    text-decoration: none;
    color: var(--red-color);
    border-bottom: 1px dotted currentColor;
}

p > a:hover,
p > a:active,
p > a:focus {
    border-bottom-color: transparent;
}

p > sup {
    display: inline-block;
    margin-top: -0.85em;    
}

/* Let's make sure all's aligned */
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}

a, b, i, strong, em, small, code {
    line-height: 0;
}

h1,h2,h3,h4,h5 {
    color: var(--red-color);
    font-family: "Recoleta Black", serif; 
}

p {
    font-family: "Apercu", sans-serif; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    max-width: 680px;

    padding: 2rem; 
    margin: 0 auto;
}

.app-intro {
    margin-bottom: 2vh;
}

.app-title {
    text-align: center;
    margin-bottom: 3vh;
}

@media screen and (max-width: 600px) {
    .app-title {
        font-size: 7vw;
    }
}

.movie-jar__area {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
}

.movie-jar {
    transition: transform 1s ease-in-out, width 1s ease-in-out;
    position: relative;

    width: 100%;
    height: 350px;
    margin: 2em auto 0;
    padding: 0;

    text-align: center; 

    border: 15px solid var(--red-color);
    border-radius: 100px;
    background-color: rgba(255,255,255,0.25);
}

@media screen and (min-width: 400px) {
    .movie-jar {
        width: 350px;
        height: 450px;
    }
}



.movie-jar.js-reveal-state {
    height: auto;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black); /*fix for border-radius bug on safari*/
    width: 100%;
    border-radius: 50px;
}

@media screen and (min-width: 600px) and (max-width: 930px) {
    .movie-jar.js-reveal-state {
        flex: 1; 
    }
}

@media screen and (min-width: 930px) {
    .movie-jar.js-reveal-state {
        width: 125%;
        transform: translateX(-12.5%);
        border-radius: 100px;
    }
}

.movie-jar.js-reveal-state .movie-jar__lid {
    display: none;
}

.movie-jar.js-reveal-state .movie-jar__body {
    padding: 0;
}

.movie-jar * {
    position: relative; 
    z-index: 4; 
}

.movie-jar:before {
    content: '';
    position: absolute;
    z-index: 3;

    display: block;

    height: 100%;
    width: 100px;

    top: 0;
    left: calc(50% - 50px);

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #F895954a;
}

.movie-jar__body {
    position: relative;

    height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    padding: 2em;
}

.movie-jar__body:before {
    content: '100% expiring soon';

    transition: transform 1s ease-in-out;
    
    font-family: "Recoleta Black", serif;
    font-size: 0.8em;
    line-height: 1.1;
    color: #FFF;

    position: absolute;
    z-index: 2;

    transform: rotate(-5deg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80px;
    width: 80px;

    top: 10%;
    right: 5%;

    border-radius: 50%;
    background-color: var(--red-color);
}

.movie-jar.js-ready .movie-jar__body:before {
    transform: translateX(200%);
}

.movie-jar__lid {
    position: absolute;
    display: block;
    z-index: 5; 
    
    height: 50px;
    width: 90%;

    top: -25px;
    left: 5%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-color: var(--red-color); 
}

.movie-jar__lid:before {
    content: '';
    position: absolute;
    z-index: 1;

    display: block;

    height: 15px;
    width: 100%;

    top: 20px;
    left: 0;

    background-color: #F45658;
}

.movie-jar__lid:after {
    content: '';
    position: absolute;
    z-index: 2;

    display: block;

    height: 100%;
    width: 100px;

    top: 0;
    left: calc(50% - 50px);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #F89595ad; 
}

@keyframes foldOut {
    0% {
        transform: scale(0.01,1) rotate(0deg);
        color:#FFF;
    }
    100% {
        transform: scale(1,1) rotate(5deg);
        color: black;
    }
}

@keyframes colorIn {
    0% {
        color:#FFF;
    }
    100% {
        color: black;
    }
}

.movie-jar__genre-choice-title-block {
    animation: foldOut 1s ease-out forwards;
    position: relative;

    width: 90%;

    margin: 0 auto 2em;
    padding: 0.5em 1em;

    border-radius: 1px;
    background-color: #FFF;
}

@media screen and (min-width: 400px) {
    .movie-jar__genre-choice-title-block {
        width: 80%;
        margin: 0 auto 3em;
    }
}

.movie-jar__genre-choice-title-block:before {
    content: '';
    display: block;
    z-index: 3; 
    width: 2px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    position: absolute;
    top: 0;
    left: calc(50% - 1px);
}

.movie-jar__genre-choice-title-block:before {
    content: '';
    display: block;
    z-index: 2; 
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);

    position: absolute;
    top: 0;
    left: 0;
}

.movie-jar__genre-choice-title {
    animation: colorIn 0.5s ease-in-out forwards;
    position: relative;
    z-index: 4;

    margin-top: 0;

    font-family: "Apercu";
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.2;
}

@media screen and (min-width: 400px) {
    .movie-jar__genre-choice-title-block {
        font-size: 1.2em;
    }
}


.error-display,
.movie-showcase {
    display: flex;
    
    width: 100%;
    height: 100%;
    
    background-color: #FFF;

    overflow: hidden;

    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .movie-showcase {
        flex-direction: row;
    }
}

.movie-showcase__poster {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    height: auto;
    width: 100%;
}

.movie-showcase__poster img {
    object-fit: cover;
    width: 100%;
    height: auto; 
    max-height: 15rem;
}

@media screen and (min-width: 425px) {
    .movie-showcase__poster img {
        max-height: 20rem;
    }
}

@media screen and (min-width: 500px) {
    .movie-showcase__poster img {
        max-height: 25rem;
    }
}

@media screen and (min-width: 600px) {
    .movie-showcase__poster {
        display: block;
        width: auto;
        min-width: 10em;
        max-height: none;

        padding: 4rem 0 0 4rem;
    }
}

@media screen and (min-width: 930px) {
    .movie-showcase__poster {
        min-width: 17em;
        height: auto;
        padding: 0;
        background-color: var(--red-color);
    }

    .movie-showcase__poster img {
        width: auto;
        height: 100%;
        max-height: none;
    }
}

.movie-showcase__title {
    line-height: 1.2;
    margin-bottom: 1rem;
}

.movie-showcase__subtitle {
    line-height: 1.2;
    margin-top: 0;
}

.movie-showcase__synopsis {
    margin-top: 1rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.movie-showcase__summary {
    position: relative;
    z-index: 1; 

    padding: 0 2rem 2rem;
    text-align: left;

    opacity: 0;
}

@media screen and (min-width: 600px) {
    .movie-showcase__summary {
        padding: 2rem 3rem 2rem;
    }
}

@media screen and (min-width: 930px) {
    .movie-showcase__summary {
        padding: 2rem 4rem 1rem;
    }
}

.movie-showcase.js-animate-in .movie-showcase__poster img {
    animation: fadeIn 1s ease-in-out forwards;
}

.movie-showcase.js-animate-in .movie-showcase__summary {
    animation: fadeIn 3s ease-in-out forwards;
    animation-delay: 1s;
}

.movie-jar__paper {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    border-radius: 90px;

    overflow: hidden;
}

.movie-jar__paper > li {
    display: block;
    height: 10%;
    width: 5em;
    background-color: rgba(255,255,255,0.9); 

    list-style: none; 
}

.movie-jar__paper > li:nth-child(1) {
    position: absolute;
    left: 1em;
    bottom: 0;
    transform: rotate(-3deg);
}

.movie-jar__paper > li:nth-child(2) {
    position: absolute;
    right: 2em;
    bottom: 0;
    transform: rotate(5deg);
}
.movie-jar__paper > li:nth-child(3) {
    position: absolute;
    right: 3em;
    bottom: 0.5em;
    transform: rotate(2deg);
}
.movie-jar__paper > li:nth-child(4) {
    position: absolute;
    right: 5em;
    bottom: 0.5em;
    transform: rotate(80deg);
}
.movie-jar__paper > li:nth-child(5) {
    position: absolute;
    left: 0;
    bottom: 0.5em;
    transform: rotate(60deg);
}
.movie-jar__paper > li:nth-child(6) {
    position: absolute;
    left: 3em;
    bottom: 0;
}
.movie-jar__paper > li:nth-child(7) {
    position: absolute;
    left: 5em;
    bottom: 0.25em;
    transform: rotate(30deg);
}
.movie-jar__paper > li:nth-child(8) {
    position: absolute;
    right: 6em;
    bottom: 0.25em;
    transform: rotate(-20deg);
}
.movie-jar__paper > li:nth-child(9) {
    position: absolute;
    right: 3em;
    bottom: 0.25em;
    transform: rotate(-80deg);
}
.movie-jar__paper > li:nth-child(10) {
    position: absolute;
    right: 0;
    bottom: 0.25em;
    transform: rotate(-90deg);
}

.movie-jar__paper > li.js-dynamically-added {
    position: absolute;
    bottom: 100%;
    transition: bottom 0.5s ease-in-out;
}

.initial-form {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@keyframes animateIn {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

.initial-form__title {
    transition: transform 1s ease-in-out;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    margin-top: 0;
}

.initial-form__title.js-animate-in {
    animation: animateIn 1s ease-in-out forwards;
}

.initial-form__title.js-animate-out {
    transform: translateX(500px);
}

.button {
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto;
    
    color: var(--red-color);
    font-family: 'Recoleta Black', serif;
    font-size: 0.9em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
}

.button .u-text-hide-on-tiny {
    display: none;
}

@media screen and (min-width: 400px) {
    .button .u-text-hide-on-tiny {
        display: inline;
    }
}

.button--bordered,
.button--transparent {
    appearance: none;
    -webkit-appearance: none;

    outline: 0;
    background-color: transparent;
}

.button--transparent {
    border: none;

    padding: 1em;
}

.button--bordered {
    transition: background-color 0.25s ease-in-out;
    border: 1px solid var(--red-color);

    padding: 1.1em 1em 1em;

    width: 100%;
}

.button--bordered:hover,
.button--bordered:active,
.button--bordered:focus {
    background-color: var(--red-color);
}

.button--bordered:hover,
.button--bordered:active,
.button--bordered:focus {
    color: #FFF;
}

.button--invisible {
    opacity: 0;
}

.button--parent-sized {
    position: absolute;
    z-index: 100;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
}

.button-interstitial-text {
    line-height: 1;
    white-space: nowrap;
    margin: 1em 0;
}

.footnote {
    padding-top: 1em;
    border-top: 1px solid rgba(0,0,0,0.05);
}

.footnote p {
    font-size: 0.75em;
    line-height: 1; 
}

.hidden {
    display: none; 
}

