.container {
    max-width: 800px;
    margin: 0 auto;
}

.movie-jar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cneter; 

    width: 200px;
    height: 400px;
    margin: 2em auto;
    padding: 1em;
    
    text-align: center; 
    color: #FFF;
    background-color: black;
}

.movie-showcase {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    
    padding: 2em;

    background-color: #FFF;
    border: 1px solid black;
}

.movie-showcase__poster {
    display: block;
    height: auto;
    width: 10em;
    object-fit: cover;
}

.movie-showcase__summary {
    padding: 0 2em;
}

.hidden {
    display: none; 
}

